{% extends 'base.html' %}{% load static %}{% block content %}

<div class="main-content">

    <article class="login  active" >

        <section class="service">

            <h3 class="h3 service-title">Mpesa Integration</h3>
            
            <div class="alert alert-success" role="alert">
               <h4 class="alert-heading">Note:</h4>
               <p>Thanks for visiting, Note that transaction made in this platform will be reversed back within 24 hrs.</p>
               <hr>
               <p class="mb-0">Thank you in advance.</p>
            </div>

            <form method="POST" action="{% url 'portfolioapp:pay'%}">
                {% csrf_token %}

                <div class="input-wrapper">
                    <input type="number" name="phone" class="form-input" placeholder="0712345678" required data-form-input>
                    <input type="number" name="amount" class="form-input" placeholder="Enter Amount" required data-form-input>
                  </div>

                  <button class="form-btn" data-form-btn ><span>Pay</span></button>
            </form>



        </section>
</div>

{% endblock %}
